<h1>Web Clipboard</h1>
<hr/>

<div>
  <script>
    function copyText() {
      var copyText = document.getElementById("output");
      copyText.select();
      document.execCommand("copy");
    }
  </script>
  ctrl.cv/<%= @clipboard.address %>
  <hr/>
  <form method="post" action="/write/<%= @clipboard.address %>">
    <textarea name="input" maxlength="65536"></textarea>
    <br/>
    <input type="submit" value="Enter">
    <br/>
    <textarea name="output" id="output" maxlength="65536" readonly><%= @clipboard.text %></textarea>
    <br/>
    <button type="button" onclick="copyText()">Copy</button>
  </form>
</div>