/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #f9f9fc;
}

header {
 background-color: #ffffff;
 height: 70px;
}

#clip {
  height: 50px;
  margin: 10px 30px;
}

.help {
  float: right;
  margin: 10px 30px;
  text-align: justify;
}

.help .info {
  height: 50px;
}

.help .help-text {
  width: 250px;
  padding: 10px 0;
  top: 85px;
  right: 20px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  display: none;
  text-indent: 20px;
  line-height: 160%;
  border-radius: 5px;
  border: solid 1px #bababa;
}

.help:hover .help-text {
  display: block;
}

.help .help-text p {
	margin: 8px 20px;
}

.url {
  clear: both;
  margin: 60px auto 40px auto;
  text-align: left;
  font-size: 15pt;
  width: 380px;
  color: #000000;
}

.url2 {
  clear: both;
  margin: 60px auto 40px auto;
  text-align: left;
  font-size: 15pt;
  width: 500px;
  color: #000000;
}

.url input[type="text"] {
	color: #000000;
  background-color: #6dd5c3;
	padding-left: 5px;
	font-size: 15pt;
	border: solid 1px #bababa;
	border-radius: 5px;
	width: 240px;
	margin-left: 10px
}
.url input[type="submit"] {
  height: 25px;
  width: 40px;
  position: relative;
  bottom: 2px;
  left: 15px;
  border-radius: 5px;
  font-size: 12pt;
  text-transform: uppercase;
  border: solid 1px #bababa;
}

input:focus {
  outline: 0;
  box-shadow: 0px 0px 3px #000000;
}

.board {
	clear: both;
    text-align: center;
    margin: auto; 
    width:500px;
}

textarea {
	font-size: 12pt;
	padding: 10px;
	color: #000000;
	width: 500px;
	height: 180px;
	border: solid 1px #bababa;
	border-radius: 5px;
	resize: none;
}

textarea:focus {
  outline: 0;
}

#input{
    background-color: #6dd5c3;
}

#output {
    background-color: #fdf38a;
}

#copy {
	border-radius: 5pt;
	padding: 3pt;
	margin-bottom: 40px;
	margin-top: 5px;
	float: right;
	width: 70pt;
	height: 24pt;
	text-transform: uppercase;
	border: solid 1px #bababa;
}

#enter {
	border-radius: 5pt;
	padding: 3pt;
	margin-bottom: 40px;
	margin-top: 5px;
	float: right;
	width: 70pt;
	height: 24pt;
	text-transform: uppercase;
	border: solid 1px #bababa;
}

button:focus {
  outline: 0;
  box-shadow: 0px 0px 3px #000000;
}

.bold {
  font-weight: bold;
  margin-left: 15px;
}

.comment {
  clear: both;
  margin: 50px auto auto auto;
  text-align: center;
  font-size: 10pt;
  width: 500px;
  color: #000000;
}
  
@media all and (max-width: 430px) and (min-width: 360px) {
  body {
    background-color: #ffffff;
  }
  header {
    margin: 0 auto;
  }
  #clip {
    height: 50px;
    margin: 15px 20px;
  }
  .help {
    float: right;
    margin: 15px 20px;
    text-align: justify;
  }
  .help .info {
    height: 50px;
  }
  .url {
    margin: 180px auto ;
    font-size: 12pt;
    width: 300px;
    text-align: center;
  }
  .url input[type="text"] {
    width: 200px;
    text-align: left;
    margin-left: 3px;
  }
  .url input[type="submit"] {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    width: 50px;
    border-radius: 25px;
    height: 30px;
  }
  .url2 {
    margin: 40px auto 20px auto;
    font-size: 12pt;
    width: 300px;
    text-align: center;
  }
  .board {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  #enter {
    margin-bottom: 20px;
  }
}